.main-content {
  min-height: calc(100vh - 64px);
  padding-top: 64px;
  background-color: #141414;
  color: white;
}

@media (max-width: 599px) {
  .main-content {
    min-height: calc(100vh - 56px);
    padding-top: 56px;
  }
}