html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #141414;
    color: white;
}

:root {
    --movieapp-red: #e50914;
    --movieapp-black: #000000;
    --movieapp-dark-gray: #141414;
    --movieapp-light-gray: #333333;
    --movieapp-hover-red: #f40612;
}

.mat-mdc-raised-button.mat-accent {
    background-color: var(--movieapp-red) !important;
}

.mat-mdc-raised-button.mat-accent:hover {
    background-color: var(--movieapp-hover-red) !important;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--movieapp-black);
}

::-webkit-scrollbar-thumb {
    background: var(--movieapp-light-gray);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--movieapp-red);
}
